/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/open-sans-v40-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* open-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/open-sans-v40-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/open-sans-v40-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/open-sans-v40-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

:root {
  --main-dark-text-color: #333333;
  --main-light-text-color: #dddddd;
  --primary-color: #0079ca;
  --primary-tint: #e6f2fa;
  --primary-shade: #006db6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-dark-text-color);
}

.section-hero {
  padding-block: 6rem;
  background-color: var(--primary-tint);
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
}

.hero-heading {
  font-size: 3.25rem;
  font-weight: 700;
  letter-spacing: -0.65px;
  line-height: 1.25;
  margin-bottom: 2rem;
}

.hero-paragraph {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.hero-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.email-field {
  width: 60%;
  color: var(--main-dark-text-color);
  border: 1px solid var(--main-dark-text-color);
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 1rem 0.5rem;
}

.submit-btn {
  width: 40%;
  color: var(--main-light-text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 0.5rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.submit-btn:hover {
  background-color: var(--primary-shade);
}

.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 70%;
}
